#!/bin/sh

errorExit() {
    echo "*** $*" 1>&2
    exit 1
}

curl --silent --max-time 2 --insecure https://localhost:{{ kube_apiserver_port }}/ -o /dev/null || errorExit "Error GET https://localhost:{{ kube_apiserver_port }}/"
if ip addr | grep -q "{{ api_loadbalancer_ip }}"; then
    curl --silent --max-time 2 --insecure https://{{ api_loadbalancer_ip }}:{{ loadbalancer_apiserver_port }}/ -o /dev/null || errorExit "Error GET https://{{ api_loadbalancer_ip }}:{{ loadbalancer_apiserver_port }}/"
fi
