# https://github.com/kubernetes/kubeadm/blob/main/docs/ha-considerations.md#keepalived-and-haproxy
global
    maxconn                 4000
    log                     127.0.0.1 local0

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 5
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          20s
    timeout server          20s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 4000

{% if loadbalancer_apiserver_healthcheck_port is defined -%}
frontend healthz
  bind *:{{ loadbalancer_apiserver_healthcheck_port }}
  mode http
  monitor-uri /healthz
{% endif %}

{% if loadbalancer_apiserver_healthcheck_port is defined -%}
frontend apiserver
  bind 127.0.0.1:{{ loadbalancer_apiserver_port|default(kube_apiserver_port) }}
  mode tcp
  option tcplog
  default_backend apiserver
{% endif %}

backend apiserver
  option httpchk GET /healthz
  http-check expect status 401
  default-server inter 15s downinter 15s rise 2 fall 2 slowstart 60s maxconn 1000 maxqueue 256 weight 100
  mode tcp
  balance leastconn
  {% for host in groups['masters'] -%}
  server {{ host }} {{ hostvars[host]['private_ip'] | default(hostvars[host]['anisble_host']) }}:{{ kube_apiserver_port }} check check-ssl verify none
  {% endfor -%}
