apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
dns:
  type: CoreDNS
etcd:
  local:
    serverCertSANs:
    - 192.168.13.202
    - master-1
    - 192.168.13.203
    - master-2
    - 192.168.13.204
    - master-3
    peerCertSANs:
    - 192.168.13.202
    - master-1
    - 192.168.13.203
    - master-2
    - 192.168.13.204
    - master-3

networking:
  # This CIDR is a Calico default. Substitute or remove for your CNI provider.
  # serviceSubnet: "10.96.0.0/12"
  podSubnet: "192.168.0.0/16"
  dnsDomain: "cluster.local"
apiServer:
  certSANs:
  - 192.168.13.202
  - cluster.local
  extraArgs:
    authorization-mode: "Node,RBAC"
    admission-control: "PodNodeSelector,NamespaceLifecycle"
controlPlaneEndpoint: "192.168.13.202:6413"
certificatesDir: "/etc/kubernetes/pki"
imageRepository: "k8s.gcr.io"
useHyperKubeImage: false
clusterName: "cluster.local"
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: 192.168.13.202
nodeRegistration:
  kubeletExtraArgs:
    node-ip: "$INTERNALIP"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
# This CIDR is a Calico default. Substitute or remove for your CNI provider.
clusterCIDR: "192.168.0.0/16"
mode: "{{ kube_proxy_mode }}"
